@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	padding: 50px;
	font-family: 'Open+Sans', sans-serif;
	color: white;
	margin: 0 auto;
	text-align: center;
	background-image: url(https://images.pexels.com/photos/2154/sky-lights-space-dark.jpg?auto=compress&cs=tinysrgb&h=350);
	background-size: cover;
}
h1 {
	text-transform: uppercase;
}
h1, h3 {
	display: flex;
	justify-content: center;
}
p {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;
}